@reference 'tailwindcss';

.container {
    @apply w-full px-5 text-center my-5 md:my-7
}

.container .title {
    @apply mb-5 text-2xl opacity-20 text-(--nav-text-color)
}

.cards {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-5 justify-around items-center max-w-175 mx-auto
}

.cards .card {
    @apply border-2 border-(--card-bg-color) relative rounded-xl md:rounded-3xl p-3 md:px-5 md:py-3 max-w-86 mx-auto h-123 transition duration-300 ease-in-out
}
.cards .card:hover {
    @apply border border-y-4 border-(--nav-bg-color) cursor-cell ;
    transform: scale(1.05);
}

.cards .card .card_title {
    @apply text-2xl text-(--nav-text-color) font-bold font-[merriweather]
}

.cards .card .card_subtitle {
    @apply text-sm font-semibold
}

.content {
    @apply pl-3 mt-3 opacity-80
}

.content_text {
    @apply text-left mb-2 text-[1rem] font-[--text-font] ml-1 relative flex gap-2
}
.content_text .secureIcon{
    @apply text-[rgb(21,128,61)] mt-1 text-[1rem]
}

/* .content_text::before {
    content: "V";
    position: absolute;
    top: 7px;
    left: -20px;
    width: 10px;
    height: 10px;
    border: 1px solid var(--nav-bg-color);
    border-radius: 10px;
    background-color: var(--nav-bg-color);
    animation: Opacity 1s infinite alternate ease-out;
} */

@keyframes Opacity {
    0% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0.3;
        transform: scale(0.5);
    }
}

.card .btn .Link{
    @apply shadow-[0px_2px_5px,(--nav-bg-color)] py-1 rounded-md hover:text-(--nav-text-color) text-white transition duration-500 ease-out absolute bottom-3 left-10 right-10 font-bold
}