@reference "tailwindcss";

.nav {
    @apply flex justify-between px-5 py-2 relative font-[open+sans]
}

.navlink {
    @apply flex justify-between gap-5 border border-(--nav-bg-color) text-(--nav-text-color) px-5 py-2 rounded-full
}

.navlink .li {
    @apply flex justify-center items-center cursor-pointer relative
}

.navlink .li .ServiceDropdown {
    @apply absolute top-[25px] z-50 -left-16 px-3 rounded-lg text-white py-3 w-[200px] bg-gradient-to-br from-(--card-bg-color) to-gray-900 shadow-xl border border-gray-600 space-y-2 opacity-0 transform -translate-y-2 transition-all duration-300 ease-out pointer-events-none
}

.navlink .li .ServiceDropdown.open {
    @apply opacity-100 transform translate-y-0 pointer-events-auto
}

.navlink .serviceItem {
    @apply max-w-[175px] py-2 rounded-lg hover:bg-gray-600 hover:scale-105 transition-all duration-200 ease-in-out cursor-pointer text-center flex items-center justify-start gap-2
}

.navlink .serviceLink {
    @apply text-white no-underline pl-1 hover:text-gray-200 transition-colors duration-200 flex items-center gap-2
}

.li .icon {
    @apply text-[18px] mt-1 transition duration-300 ease-out
}

.li .icon.open {
    margin-top: 0px;
    margin-bottom: 2px;
    transform: rotate(180deg);
}



.button {
    @apply pt-3 text-center flex gap-5
}

/* -----------------phone view */
.PhoneNav {
    @apply hidden flex text-[1rem] text-left
}

.btnMenu {
    @apply flex items-center justify-center z-50 text-xl cursor-pointer text-(--nav-text-color) hover:opacity-80 transition duration-200 ease-in-out
}

.PhoneNav .PhonenavCard {
    @apply bg-[rgb(0,0,0,0.5)] z-auto h-0 opacity-0 overflow-hidden transition duration-500 ease-in w-full text-(--nav-text-color) absolute top-0 left-0;
}
.PhonenavCard.active{
    @apply h-[100vh] opacity-100 z-0;
    backdrop-filter: blur(2px);
}
.PhoneNav .PhonenavCard .li {
    @apply flex relative
}
.PhonenavCard .PhoneNavlink {
    @apply bg-(--nav-Phone-bg-color) z-50 min-w-[150px] max-w-[250px] h-full px-2 pl-7 pt-14 space-y-3
}

.PhonenavCard .li .PhoneServiceDropdown {
    @apply absolute -left-50 top-5 font-light text-[0.9rem] my-5 pointer-events-none opacity-0 w-0 h-0 overflow-hidden;
    transition: all 0.5s ease-in-out;
}
.PhonenavCard .li .PhoneServiceDropdown.open{
    @apply relative -left-10 opacity-100 transform translate-y-0 pointer-events-auto w-auto h-auto block overflow-visible
}
.PhonenavCard .li .PhoneServiceDropdown.open::before{
    position:absolute;
    content: "";
    height: 100%;
    width: 3px;
    background-color: var(--nav-text-color);
    left: -20px;
    opacity: 30%;
}

@media(max-width:670px) {
    .navlink {
        @apply hidden
    }

    .PhoneNav {
        @apply block z-50;
    }
}