@reference "tailwindcss";

.container{
    @apply my-5 md:my-7 px-5 
}
.tableContent{
    @apply w-full max-h-[700px] overflow-y-scroll
}
.table{
    @apply w-full border border-(--nav-bg-color)/10 rounded-xl md:rounded-2xl;
}
/* .head_row{} */
.header{
    @apply bg-(--bg-color) border-y border-(--nav-bg-color)/10 py-3 px-1 font-extrabold text-(--nav-text-color) text-center sticky -top-0.5 z-50
}
.header:first-child{
    width: 40%;
    text-align: start;
    padding-left: 10px ;
}
.table_body{
    @apply  z-1 
}
.body_row{
    /* @apply h-10 */
}
.body_col{
    @apply border-b border-(--nav-bg-color)/10 py-2 text-center 
}
.body_col:first-child{
    @apply text-start pl-7
}

/* for card  */
.cardContainer{
    @apply my-22 
}
.card_header{
    @apply max-w-[750px] flex flex-wrap gap-5 mx-auto justify-around 
}
.card_header .headText{
    @apply  border-2 border-(--nav-bg-color)/20  text-(--nav-text-color)  rounded-full px-5 py-2 hover:border-(--nav-bg-color) transition-all duration-300 ease-in cursor-pointer relative
}
.card_header .headText.active{
    @apply  font-bold rounded-full px-5 py-2 border-(--nav-bg-color)
}
.cards{
    @apply flex flex-wrap justify-center gap-3 md:gap-7 my-5
}
.cards .card {
    @apply  bg-(--card-bg-color-deep) px-3 pt-3 w-[300px] shadow-[-2px_2px_5px_2px_var(--card-bg-color-deep)] border border-transparent relative text-white/90 font-extrabold rounded-lg md:rounded-xl  md:px-5 md:py-3 h-125 transition duration-500 ease-out
}
.cards .card.cardActive{
    @apply bg-transparent
}
.cards .card:hover {
   @apply bg-transparent 
}
.card .recommended{
    @apply absolute right-0 top-0 bg-[rgb(21,128,61)] rounded-l-[5px] px-2 text-sm
}
.cards .card .cardHeader {
    @apply text-xl text-(--nav-text-color) text-start font-bold font-[merriweather] mb-5
}

.headContent{
    @apply text-xl font-normal font-[poppins]
}
.headContent .cardPrice{
    @apply ml-12 text-(--nav-text-color) text-[1.2rem]
}
.headContent .headButton{
    @apply w-full mt-3 mb-7
}
.headContent .headButton .btn{
    @apply bg-(--nav-bg-color)/50 py-2 w-full rounded-full transition duration-500 ease-in-out
}
.headContent .headButton .btn:hover{
    @apply bg-(--nav-bg-color) font-bold cursor-pointer
}
.content {
    @apply pl-3 mt-3 opacity-80 
}

.content_text {
    @apply text-left mb-2 text-[1rem] font-[--text-font] relative flex gap-2 
}
.content_text .icon{
    @apply text-(--nav-text-color) mt-1 text-[1rem]
}
@media (max-width:546px ){
.cards .card.cardActive{
    @apply block bg-(--card-bg-color-deep)
}
.cards .card{
    @apply hidden
}
}